.circular-progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circular-progress-text {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}